.penutup {
    min-height: auto;
    .alls {
        margin-bottom: 16px;
        color: white;
        .job {
            color: #eee;
            line-height: 1rem;
        }
        .nama {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}
